body{
}
main{
    grid-area: div;
    /* margin: 0 auto; */
    display: grid;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display:grid;
    grid-template:
    "title       title      title"          5%
    "name_no1    name_no1     name_no1"       5%
    "picture1    picture1     message  "      30%
    "picture1    picture1      mytraning "     25%
    "kiretemasu_no1  kiretemasu_no1   kiretemasu_no1" 5%
    "name_no2    .....       name_no3"       5%
    "picture2        .....  picture3"       35%
    "kiretemasu_no2  .....  kiretemasu_no3" 1%
/45%           5%       45%;
}
.title,.name_no1,.picture1,.message,.mytraning,.kiretemasu_no1,.name_no2,.name_no3,.picture2,.picture3,.kiretemasu_no2,.kiretemasu_no3{
    color:#E8E6E6;
}
.picture1,.message,.mytraning,.picture2,.picture3{
    border: solid 1px #0246F2;
}
li.title{
    grid-area: title;
    font-size: 100%;
    /* margin: 0 5%; */
    width: 100%;
}
li.name_no1{
    grid-area:name_no1;
    /* margin: 70px auto 0px 0px; */
    
}
li.picture1{
    grid-area: picture1;
}
li.message{
    grid-area: message;
}
li.mytraning{
    grid-area: mytraning;
}
li.kiretemasu_no1{
    grid-area: kiretemasu_no1;

}
li.name_no2{
    grid-area:name_no2;
    
}
li.name_no3{
    grid-area:name_no3;
    
}
li.picture2{
    grid-area:picture2;
}
li.picture3{
    grid-area:picture3;
}
li.kiretemasu_no2{
    grid-area:kiretemasu_no2;
}
li.kiretemasu_no3{
    grid-area:kiretemasu_no3;
}
div.contents{
    opacity: 0;
}
div.accordion div.is-open{
    opacity: 1;
}