/* application/public/indevidual_img.css*/
/* cssやjsを外部リンクで読みだす時にはcodeigniterの直下にフォルダを作成しそこにファイルを格納する */

.modal-header img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 5%;
    background-color: #CFCFCF;
    margin-right: 10px;
}

.btn-gradient-radius {
    width:115px;
    height:30px;
    border-radius: 25px;
    text-decoration: none;
    color:#FFF;
    background-image: linear-gradient(45deg,#7ed6fcda 0%,#02A5EB 100%);
    transition: .4s;
    margin-top: auto;
}

.modal-header h5 {
    margin-top: auto;
    margin-right: 10px;
}

.new-primary{
    background-color: #02A5EB;
    color:#CFCFCF;
}

.bg-black{
    background-color: black;
    color:#CFCFCF;
}

.bg-gray{
    background-color: #A0A09F;
}

.border-gray{
    border-color: #CFCFCF;
}

.modal{
    text-align: center;
}

.modal-max{
    max-width: inherit;
    width:80%;
}

.good-btn-container {
    margin-top: 15px;
}

.good-btn-icon {
    width: 80%;
    height: 35px;
    background-color: gold;
    padding: 3px 10px;
    color: black;
    opacity:0.8;
    border-radius: 25px;
    cursor: pointer;
    margin: 10px auto;
    display: flex;
}

.good-btn-icon:hover {
    opacity: 1;
}

.good-btn-icon img {
    background-color: gold;
    width: 30px;
    height:30px;
    float: left;
    margin-left: 15px;
}

.good-btn-text {
    display:flex;
    margin: auto;
    display: inline;
}

.good-count {
    float:right;
}

.iframe {
    position: relative;
    bottom:20px;
    width:100px;
    height:100px;
}

iframe.iineiframe {
border: none;
padding: 10px;
}
