/* タブレット向けレイアウト */
@media all and (max-width: 1000px) {
    .img-list img {
        width: 32.9%;
        height:260px;
    }

    .profile-img img{
        width: 140px;
        height: 140px;
    }
}




/* スマホ向けレイアウト */
@media all and (max-width: 670px) {
    .img-list img {
        width:48.9%;
        height:250px;
    }

    .profile-img img{
        width: 100px;
        height: 100px;
    }
}