/* application/public/style.css*/
/* cssやjsを外部リンクで読みだす時にはcodeigniterの直下にフォルダを作成しそこにファイルを格納する */
    body{
        width: 80%;
        margin: 0 auto; /*中央寄せ*/
    }

    .profile-inline{
        width:20%;
        margin: 10px;
        margin: 0 auto; /*中央寄せ*/
    }

    .profile-img{
        width: 100%;
        padding-top: 100%;
        border-radius: 50%;
    }

    .mypage{
        padding-top: 10px;
    }
  
  .mypage{
    display: flex;
    flex-wrap: wrap;
  }

  .mypage-img{
    float: left;
    position: relative;
    width: 30%;
  }
  .mypage-img:before{
    content: "";
    display: block;
    padding-top: 100%;
  }
  
  img{
    position: absolute;
    width: 20%;
    height: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    object-fit: cover;
    margin: 10px;
  }

    .user_name > p {
        font-size: 18px;
        color: #CFCFCF;
        text-align: center;  
    }

    .new-primary{
        background-color: #02A5EB;
        color:#CFCFCF;
    }


