/* タブレット向けレイアウト */
@media all and (max-width: 1000px) {
    .img-list img {
        width:250px;
        height:250px;
    }

    .profile-img img{
        width: 140px;
        height: 140px;
    }
}




/* スマホ向けレイアウト */
@media all and (max-width: 670px) {
    .img-list img {
        width:170px;
        height:170px;
    }

    .profile-img img{
        width: 100px;
        height: 100px;
    }
}