body{
}
main{
    grid-area: div;
    margin: 0 5% 0;
}
.wrapper{
    display: grid;
    color: white;
    grid-template:
        "weekTitle weekTitle weekTitle" 10vh
        "name_no1 name_no1 name_no1"  3vh
        "picture1 picture1 message" 30vh
        "picture1 picture1 myTraning" 15vh
        "picture1 picture1 myFood"    15vh
        "-------   ------  --------"  8vh
        "name_no2 ------ name_no3" 3vh
        "picture2 ------ picture3" 40vh
    /   40%      10%  40%;
    padding: 0;
}
.weekTitle,.name_no1,.picture1,.message,.mytraning,.kiretemasu_no1,.name_no2,.name_no3,.picture2,.picture3,.kiretemasu_no2,.kiretemasu_no3{
    color:#E8E6E6;
}
.picture1, .message, .myTraning, .myFood, .picture2, .picture3{
    border: solid 1px #0246F2;
}
.weekTitle{
    grid-area:weekTitle;
    font-size: 100%;
    /* margin: 0 5%; */
    /* width: 100%; */
}
.name_no1{
    grid-area:name_no1;
    /* margin: 70px auto 0px 0px; */
}
img.kiretemasu{
    width:20px;
    color:white;
}
li.picture1{
    grid-area: picture1;
    position:relative;
}
li.picture1 p{
    position: absolute;
    color:black;
    top:-15px;
    left:0;
}
li.picture2 p{
    position: absolute;
    color:black;
    top:96vh;
}
li.picture3 p{
    position: absolute;
    color:black;
    top:96vh;
}
li.message{
    grid-area: message;
}
li.myTraning{
    grid-area: myTraning;
    
}
li.myFood{
    grid-area: myFood;
}
element.style {
}
img.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 0;
}
li.kiretemasu_no1{
    grid-area: kiretemasu_no1;

}
li.name_no2{
    grid-area:name_no2;
    
}
li.name_no3{
    grid-area:name_no3;
    
}
li.picture2{
    grid-area:picture2;
}
li.picture3{
    grid-area:picture3;
}
li.kiretemasu_no2{
    grid-area:kiretemasu_no2;
}
li.kiretemasu_no3{
    grid-area:kiretemasu_no3;
}
div.contents{
    opacity: 0;
}
div.accordion div.is-open{
    opacity: 1;
}
#underTab2 div.centerLine {
    display: flex;
    align-items: center;
    height: 29px;
}
.underNav ul.underTab li a {
    text-decoration-line: none;
    color: #cccccc;
    width: 100%;
    display: block;
    font-size: 15px;
    line-height: 100%;
}
.underNav ul.underTab li {
    box-sizing: border-box;
    width: 100%;
    /* margin: 3px 0; */
    height: 29px;
    position: relative;
}
div.is-open {
    line-height: normal;
    height: auto;
    opacity: 1;
    position: relative;
    z-index: 100;
    background: black;
    color: #cccccc;
    font-size: 15px;
}
.detailContents {
    line-height: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition-duration: 0.2s;
}
.detailContents.is-open {
    /* border: 1px solid black; */
    /* padding: 0 0 0 12px; */
    line-height: normal;
    height: auto;
    opacity: 1;
    position: relative;
    z-index: 100;
    background: black;
    width: 100%;
    margin: 0 0 0 0px;
    padding: 0 5% 0;
}
.underNav ul.underTab div div a {
    color: #cccccc;
    text-decoration: none;
    /* position: absolute; */
    /* top: -250px; */
}
nav ul div li.menu {
    width: 100%;
    color: #cccccc;
    height: 29px;
    /* margin: 0 0 0 -9%; */
}
@media (max-width: 900px){
    nav.underNav {
        position: fixed;
        bottom: 0;
        width: 100%;
        grid-area: nav;
        border: solid #9E9E9E;
        border-width: 0.1px 0px 0.1px 0px;
        z-index: 100;
        height: 40px;
        background: black;
    }
    .underNav ul.underTab {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 90%;
        height: 100%;
        box-sizing: border-box;
        margin: 0 auto;
        list-style: none;
        font-size: 100%;
        padding: 0;
    }
    .underNav ul.underTab li {
        box-sizing: border-box;
        width: 100%;
        margin: 0;
    }
    #underTab2 div.centerLine {
        /* display: flex; */
        /* align-items: center; */
        height: 42px;
        /* text-align: center; */
    }
    .underNav ul.underTab li a {
        text-decoration-line: none;
        color: #cccccc;
        width: 100%;
        text-align: center;
        /* font-size: 100%; */
    }
    div .rankCenter {
        /* text-align: center; */
        display: block;
        margin: auto;
        /* color: #ae1750; */
    }
    ul.underTab div.accordion div.isOpenRankUnder {
        /* line-height: normal; */
        /* height: auto; */
        opacity: 1;
        /* position: fixed; */
        /* z-index: 0; */
        background: black;
        top: -24px;
        left: 35%;
        width: 30%;
        /* position: absolute; */
        /* text-align: center; */
    }
    .contents {
        position: absolute;
    }
    div.isOpenRankUnderTwo {
        opacity: 1;
        position: absolute;
        background: black;
        top: -42px;
        left: 35%;
        width: 30%;
        color: #cccccc;
        text-align: center;
    }
    .isOpenRankUnderThree {
        background: black;
    
        position: relative;
        
        height: 20%;
        width: 100%;
        color: white;
        opacity: 1;
    }
    div ul.detailContentsList {
        width: 100%;
        height: 100%;
        position: relative;
        top: -195px;
    }
    .underNav ul.underTab li a {
        text-decoration-line: none;
        color: #cccccc;
        width: 100%;
        text-align: center;
        /* font-size: 100%; */
    }
    ul.detailContentList .detailContents {
        z-index: 100;
    }
}